@model List<Publication>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Список публікаций</h1>

    @foreach (var publication in Model)
    {
        <ul>
            <li>Id: @publication.Id</li>
            <li>Name: @publication.Description</li>
        </ul>
    }
</div>
